{% load static %} {% static "" as baseURL %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ParcelCourier</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="{{baseURL}}style.css">

    <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rambla:ital,wght@1,700&display=swap" rel="stylesheet"> 
  </head>
  <body>
  <section class="section">
    <div class="container">
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
              <a class="navbar-item" href="/">
                <p style="font-size: 35px; font-family: 'Rambla', sans-serif;"> ParcelCourier</p>
              </a>
          
              <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
              </a>
            </div>
          
            <div id="navbarBasicExample" class="navbar-menu">
              <div class="navbar-start">
                <a class="navbar-item" href="#home">
                  Home
                </a>

          
                </div>
              </div>
          
              <div class="navbar-end">
                <div class="navbar-item">
                  <div class="buttons">
                    <a class="button is-info" href="/signup">
                      <strong>Sign up</strong>
                    </a>
                    <a class="button is-light" href="/login">
                      Log in
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </nav>
    </div>
    <br>

  </section>
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        ParcelCourier | © 2021 <strong>Sakib Mahmood Seaum</strong> All Rights Reserved
      </p>
    </div>
  </footer>
  </body>
</html>